@model ViewmMODeElMASTER
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/merchantAccount/Views/Shared/_Layoutmerchant.cshtml";
}

<div class="col-xs-12">
    <div class="box-content">
        <div class="col-lg-6 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-shopping-cart fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Marketplace</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-diamond fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Premium</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-user fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Profile</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-users fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Friends</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-group fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Groups</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-archive fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Inventory</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-envelope fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Messages</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-pencil fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Create</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-book fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Blog</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-gift fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Gift Cards</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-shopping-bag fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Official Store</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-cogs fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Settings</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-info-circle fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">About</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-life-ring fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Help & Safety</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 d-flex flex-column justify-content-center">
                    <div class="box-content text-center py-4 flex-fill">
                        <i class="fa fa-sign-in fa-2x mb-2"></i>
                        <h6 class="font-weight-bold m-0">Quick Sign In</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="box-content">
                <h4 class="box-title">Orders</h4>
                <!-- /.box-title -->
                <div class="dropdown js__drop_down">
                    <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                    <ul class="sub-menu">
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else there</a></li>
                        <li class="split"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <!-- /.dropdown js__dropdown -->
                <div class="table-responsive table-purchases">
                    <table class="table table-striped margin-bottom-10">
                        <thead>
                            <tr>
                                <th>Order No</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th style="width:5%;"></th>
                            </tr>
                        </thead>
                        <tbody id="orderTableBody">
                            @foreach (var order in Model.NewOrders)
                            {
                                <tr>
                                    <td>@order.IdOrderNew</td> <!-- Use appropriate property names -->
                                    <td>@order.description</td> <!-- Use appropriate property names -->
                                    <td>@order.CostPrice</td> <!-- Use appropriate property names -->
                                    <td>@order.OrderDate</td> <!-- Use appropriate property names -->
                                    <td>@order.dorderStatus</td> <!-- Use appropriate property names -->
                                    <td></td>
                                </tr>
                            }
                            @foreach (var order in Model.OldOrders)
                            {
                                <tr>
                                    <td>@order.id</td>
                                    <td>@order.description</td> <!-- Use appropriate property names -->
                                    <td>@order.delivery_charges</td> <!-- Use appropriate property names -->
                                    <td>@order.order_dt</td> <!-- Use appropriate property names -->
                                    <td>@order.OrderStatus</td> <!-- Use appropriate property names -->
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-content -->
        </div>
        <div class="row">
            <div class="col-xs-12 text-center py-4">
                <button class="btn btn-sm" style="width: 750px;">Log Out</button>
            </div>
        </div>
    </div>
</div>


