@model ViewmMODeElMASTER
@{
    ViewData["Title"] = "AddOrderNew";
    Layout = "~/Areas/AirFreight/Views/Shared/_LayoutAirFreight.cshtml";
}




<div class="row small-spacing">
    <div class="box-content">
        <ul class="list-inline">
            <li class="margin-bottom-10"><a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWeb.LBAddOrderNew</button></a></li>/
            <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a></li>/
            <li class="margin-bottom-10"><a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a></li>
            <span style="color:royalblue"> <strong>@TempData["Saved successfullyl"]</strong></span>
            <br>
            <br>
            <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
            <br>
            <br>

        </ul>
        <div class="col-lg-6 col-xs-12">
            <div class="box-content card white">
                <h4 class="box-title">@ResourceWeb.LBAddOrderNew</h4>
                <!-- /.box-title -->
                <div class="card-content">
                    <form role="form" method="post" asp-controller="OrderNew" asp-action="Save" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" asp-for="@Model.OrderNew.DataEntry" class="form-control" value="@User.Identity.Name">
                            <input type="hidden" asp-for="@Model.OrderNew.IdOrderNew" class="form-control">
                            <input type="hidden" asp-for="@Model.OrderNew.DateTimeEntry" value="@DateTime.Now">
                            <input type="hidden" asp-for="@Model.returnUrl" id="url">
                        </div>
                        <div class="card-content">
                            <div class="row small-spacing">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.OrderNew.DescriptionOrder">@ResourceWeb.LbDescriptionOrder</label>
                                        <input asp-for="@Model.OrderNew.DescriptionOrder" type="text" placeholder="@ResourceWeb.LbDescriptionOrder ...." class="form-control" maxlength="300">
                                        <span asp-validation-for="@Model.OrderNew.DescriptionOrder" class="text-danger"></span>
                                        <span style="color:red"><strong>@TempData["DescriptionOrder"]</strong></span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">

                                    <div class="form-group">
                                        <label asp-for="@Model.OrderNew.IdInformationCompanies" for="exampleInputEmail1">@ResourceWeb.LbDescriptionClint</label>
                                        <select class="form-control select2_1" asp-for="@Model.OrderNew.IdInformationCompanies" asp-items="ViewBag.ShippingPrice" id="selectedcompany">
                                        </select>
                                        <span asp-validation-for="@Model.OrderNew.IdInformationCompanies" class="text-danger"></span>
                                        <span style="color:red"><strong>@TempData["Customer"]</strong></span>
                                    </div>
                                </div>

                                <div class="row small-spacing">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.IdorderCases">@ResourceWeb.LbOrderCase</label>
                                            <select id="city-delivery-tariffs" class="form-control select2_1" asp-for="@Model.OrderNew.IdorderCases" asp-items="@(new SelectList(ViewBag.OrderCase, "Id", "Description"))"></select>
                                            <span asp-validation-for="@Model.OrderNew.IdorderCases" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.OrderDate">@ResourceWeb.LbOrderDate</label>
                                            <input asp-for="@Model.OrderNew.OrderDate" type="date" placeholder="@ResourceWeb.LbOrderDate ...." class="form-control" maxlength="300">
                                            <span asp-validation-for="@Model.OrderNew.OrderDate" class="text-danger"></span>
                                        </div>
                                    </div>


                                </div>

                                <div class="row small-spacing">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Transaction.ToCurrencyID">@ResourceWeb.LBMyCurrenciesExchangeRates</label>
                                            <select class="form-control select2_1" asp-for="@Model.Transaction.ToCurrencyID" asp-items="@(new SelectList(ViewBag.Currenc, "IdCurrenciesExchangeRates", "Country"))" id="toCurrency"></select>
                                            <span asp-validation-for="@Model.Transaction.ToCurrencyID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.Weight">@ResourceWeb.LbWeight</label>
                                            <input asp-for="@Model.OrderNew.Weight" type="text" placeholder="@ResourceWeb.LbWeight ...." class="form-control" maxlength="25" id="weight">
                                            <span asp-validation-for="@Model.OrderNew.Weight" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row small-spacing">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.Addres">@ResourceWeb.LbAddres</label>
                                            <input asp-for="@Model.OrderNew.Addres" type="text" placeholder="@ResourceWeb.LbAddres ...." class="form-control" maxlength="300">
                                            <span asp-validation-for="@Model.OrderNew.Addres" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.CostPrice">@ResourceWeb.LbCostPrice</label>
                                            <input asp-for="@Model.OrderNew.CostPrice" type="text" placeholder="@ResourceWeb.LbCostPrice ...." class="form-control" maxlength="20" id="costPrice" readonly>
                                            <span asp-validation-for="@Model.OrderNew.CostPrice" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row small-spacing">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.Price">@ResourceWeb.LbPrice</label>

                                            <input asp-for="@Model.OrderNew.Price" type="text" placeholder="@ResourceWeb.LbPrice ...." class="form-control" maxlength="300" id="price">

                                            @* <input asp-for="@Model.OrderNew.Price" type="text" placeholder="@ResourceWeb.LbPrice ...." class="form-control" maxlength="300" id="exchangePrice" readonly> *@

                                            <span asp-validation-for="@Model.OrderNew.Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.Price">Exchanged Price</label>
                                            <input asp-for="@Model.OrderNew.Price" type="text" placeholder="@ResourceWeb.LbPrice ...." class="form-control" maxlength="300" id="exchangePrice" readonly>                                <span asp-validation-for="@Model.OrderNew.Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row small-spacing">
                                </div>

                                <div class="row small-spacing">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.Nouts">@ResourceWeb.LbNouts</label>
                                            <input asp-for="@Model.OrderNew.Nouts" type="text" placeholder="@ResourceWeb.LbNouts ...." class="form-control" maxlength="300">
                                            <span asp-validation-for="@Model.OrderNew.Nouts" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.OrderNew.CatchReceiptNo">@ResourceWeb.LbCatchReceiptNo</label>
                                            <input asp-for="@Model.OrderNew.CatchReceiptNo" type="text" placeholder="@ResourceWeb.LbCatchReceiptNo ...." class="form-control" maxlength="25">
                                            <span asp-validation-for="@Model.OrderNew.CatchReceiptNo" class="text-danger"></span>
                                            <span style="color:red"><strong>@TempData["CatchReceiptNo"]</strong></span>


                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p><input type="file" accept="image/*" name="Files" id="file" onchange="loadFile(event)" style="display: none;"></p>
                                    <p><label class="btn btn-violet btn-rounded btn-bordered waves-effect waves-light" for="file" style="cursor: pointer;" name="Files">@ResourceWeb.LBUpload_image</label></p>
                                    <p><img id="output" width="450" height="300" /></p>
                                    <span style="color:red"><strong>@TempData["Message"]</strong></span>
                                </div>

                                <div class="checkbox margin-bottom-20">
                                    <div class="switch success">
                                        <input type="checkbox" asp-for="@Model.OrderNew.IsPaid" id="switch-2">
                                        <label for="switch-2">IsPaid</label>
                                    </div>
                                </div>
                                <div class="checkbox margin-bottom-20">
                                    <div class="switch success">
                                        <input type="checkbox" asp-for="@Model.OrderNew.CurrentState" id="switch-10" checked="checked">
                                        <label for="switch-10">@ResourceWeb.lbCurrentState</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWeb.lbSave</button>
                    </div>
                    </div>
                   
                            </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <div class="box-content card white">
                <h4 class="box-title">@ResourceWeb.lbOldeAndUserGide</h4>
                <div class="card-content">
                    <!-- Content for the user guide can be added here -->
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <script src="~/Admin/assets/plugin/select2/js/select2.min.js"></script>
        <script src="~/Admin/assets/plugin/multiselect/multiselect.min.js"></script>
        <script>
            $(document).ready(function () {
                console.log("Document is ready");
                $('.select2_1').select2({
                    placeholder: "Select an option",
                    allowClear: true
                });

                // Bind change event to the selected company
                $('#selectedcompany').change(function () {
                    console.log("Selected company changed");
                    updateCosting();
                });
                // Bind change event to the selected company
                $('#toCurrency').change(function () {
                    console.log("Selected currency changed");
                    updateCosting();
                });

                // Bind input event to the weight field
                $('#weight').on('input', function () {
                    updateCosting();
                });

                function updateCosting() {
                    const selectedCompany = $('#selectedcompany').val();
                    const weight = parseFloat($('#weight').val());
                    const toCurrency = $('#toCurrency').val();

                    if (isNaN(weight) || weight <= 0) {
                        console.log("Invalid weight value");
                        $('#costPrice').val('');
                        $('#price').val('');
                        return;
                    }

                    console.log("Selected company is: ", selectedCompany);
                    console.log("Weight is: ", weight);
                    console.log("toCurrency is: ", toCurrency);

                    $.ajax({
                        url: '@Url.Action("GetPrices", "OrderNew")',
                        data: { selectedCompanyId: selectedCompany, weight: weight, toCurrencyId: toCurrency, fromCurrencyId: 1 },
                        success: function (data) {
                            console.log("AJAX success, data: ", data);
                            if (data) {
                                $('#costPrice').val(data.costPrice);
                                $('#price').val(data.price);
                                $('#exchangePrice').val(data.exchangePrice);
                                // calculatePrice();
                            } else {
                                $('#costPrice').val('');
                                $('#price').val('');
                                $('#exchangePrice').val('');
                            }
                        },
                        error: function () {
                            alert('Error! Please try again.');
                            console.log("AJAX error");
                        }
                    });
                }

                function calculatePrice() {
                    const weight = parseFloat($('#weight').val());
                    const costPrice = parseFloat($('#costPrice').val());

                    if (isNaN(weight) || isNaN(costPrice)) {
                        console.log("Invalid weight or cost price");
                        $('#price').val('');
                        return;
                    }

                    const price = weight * costPrice;
                    $('#price').val(price);
                }
            });
            var loadFile = function (event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>

    }
