@model ViewmMODeElMASTER
@{
    ViewData["Title"] = ResourceWeb.LBAddCity;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row small-spacing">
    <div class="col-lg-6 col-xs-12">
        <div class="box-content card white">
            <h4 class="box-title">@ResourceWeb.LBAddCity</h4>
            <!-- /.box-title -->



            <div class="card-content">
                <form role="form" method="post" asp-controller="City" asp-action="Save" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.City.DataEntry" class="form-control" value="@User.Identity.Name">
                        <input type="hidden" asp-for="@Model.City.Id" class="form-control">
                        <input type="hidden" asp-for="@Model.City.DateTimeEntry" value="@DateTime.Now">
                        <input type="hidden" asp-for="@Model.returnUrl" id="url">
                        <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
                        <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
                    </div>
                    <div class="card-content">
                        <div class="row small-spacing">
                            <div class="col-xs-12">
                                <label asp-for="@Model.City.Description" for="exampleInputEmail1">@ResourceWeb.LbCity</label>
                                <input asp-for="@Model.City.Description" type="text" placeholder="@ResourceWeb.LbCity ...." class="form-control" maxlength="300">
                                <span asp-validation-for="@Model.City.Description" class="text-danger"></span>
                                <span style="color:red"> <strong>@TempData["City"]</strong></span>
                            </div>
                            <!-- /.col-xs-3 -->
                            <!-- /.col-xs-4 -->
                            <!-- /.col-xs-5 -->
                        </div>


                        <!-- /.row -->
                    </div>
                    <div class="checkbox margin-bottom-20">
                        <div class="switch success"><input type="checkbox" asp-for="@Model.City.CurrentState" id="switch-10" checked="checked"><label for="switch-10">@ResourceWeb.lbCurrentState</label></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWeb.lbSave</button>
                </form>
            </div>
            <!-- /.card-content -->
        </div>
        <!-- /.box-content -->
    </div>
    @*     <div class="col-lg-6 col-xs-12">
    <div class="box-content card white">
    <h4 class="box-title">@ResourceWeb.lbOldeAndUserGide</h4>
    <!-- /.box-title -->
    <div class="card-content">
    <div class="form-group">
    <img src="~/images/user gide/City.png" width="1920" height="1077" />
    </div>
    </div>
    <!-- /.card-content -->
    </div>
    <!-- /.box-content -->
    </div> *@
</div>

@section Scripts {
    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script>
        $("#url").val(window.location.href);
    </script>
}

