@model ViewmMODeElMASTER
@{
	ViewData["Title"] = "AddEmailNewsletterAr";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box-content">
	<ul class="list-inline">
		<li class="margin-bottom-10"><a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWeb.LBAddEmailNewsletter</button></a></li>/
		<li class="margin-bottom-10"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a></li>/
		<li class="margin-bottom-10"><a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a></li>
		<span style="color:royalblue"> <strong>@TempData["Saved successfullyl"]</strong></span>
		<span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
	</ul>
	<div class="row small-spacing">
		<div class="col-xs-12">
			<div class="box-content card white">
				<h4 class="box-title">@ResourceWeb.LBAddEmailNewsletter</h4>
				<!-- /.box-title -->
				<div class="card-content">
					<form role="form" method="post" asp-controller="EmailNewsletter" asp-action="Save" enctype="multipart/form-data">
						<div class="form-group">
							<input type="hidden" asp-for="@Model.EmailNewsletter.DateEntry" class="form-control" value="@User.Identity.Name">
							<input type="hidden" asp-for="@Model.EmailNewsletter.IdEmailNewsletter" class="form-control">
							<input type="hidden" asp-for="@Model.EmailNewsletter.DateTimeEntry" value="@DateTime.Now">
							<input type="hidden" asp-for="@Model.returnUrl" id="url">
							<span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
							<span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
						</div>
						<div class="card-content">
							<div class="row small-spacing">
								<div class="col-12 col-sm-6">
									<label asp-for="@Model.EmailNewsletter.MailSender" for="exampleInputEmail1">@ResourceWeb.lbMailSender</label>
									<input asp-for="@Model.EmailNewsletter.MailSender" type="email" placeholder="@ResourceWeb.lbMailSender ...." class="form-control" maxlength="300">
									<span asp-validation-for="@Model.EmailNewsletter.MailSender" class="text-danger"></span>
									<span style="color:red"> <strong>@TempData["EmailAlartSetting"]</strong></span>
								</div>
								@* <div class="col-12 col-sm-6">
									<label asp-for="@Model.EmailNewsletter.SmtpServer" for="exampleInputEmail1">@ResourceWeb.lbSmtpServer</label>
									<input asp-for="@Model.EmailNewsletter.SmtpServer" type="text" placeholder="@ResourceWeb.lbSmtpServer ...." class="form-control" maxlength="100">
									<span asp-validation-for="@Model.EmailNewsletter.SmtpServer" class="text-danger"></span>

								</div> *@
							</div>

						</div>
						@* <div class="card-content">
							<div class="row small-spacing">
								<div class="col-12 col-sm-6">
									<label asp-for="@Model.EmailNewsletter.PortServer" for="exampleInputEmail1">@ResourceWeb.lbPortServer</label>
									<input asp-for="@Model.EmailNewsletter.PortServer" type="number" placeholder="@ResourceWeb.lbPortServer ...." class="form-control" maxlength="10">
									<span asp-validation-for="@Model.EmailNewsletter.PortServer" class="text-danger"></span>

								</div>
								<div class="col-12 col-sm-6">
									<label asp-for="@Model.EmailNewsletter.PasswordEmail" for="exampleInputEmail1">@ResourceWeb.lbPasswordEmail</label>
									<input asp-for="@Model.EmailNewsletter.PasswordEmail" type="text" placeholder="@ResourceWeb.lbPasswordEmail ...." class="form-control" maxlength="25">
									<span asp-validation-for="@Model.EmailNewsletter.PasswordEmail" class="text-danger"></span>

								</div>
							</div>

						</div> *@

						@* <div class="checkbox margin-bottom-20">
							<div class="switch success"><input type="checkbox" asp-for="@Model.EmailNewsletter.Ssl_validity" id="switch-3"><label for="switch-3">@ResourceWeb.lbSsl_validity</label></div>
						</div> *@ 
						<div class="checkbox margin-bottom-20">
							<div class="switch success"><input type="checkbox" asp-for="@Model.EmailNewsletter.IsSubscribed" id="switch-2"><label for="switch-2">@ResourceWeb.LbActive</label></div>
						</div>
						<div class="checkbox margin-bottom-20">
							<div class="switch success"><input type="checkbox" asp-for="@Model.EmailNewsletter.CurrentState" id="switch-10" checked="checked"><label for="switch-10">@ResourceWeb.lbCurrentState</label></div>
						</div>
						<button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWeb.lbSave</button>
					</form>
				</div>
				<!-- /.card-content -->
			</div>
			<!-- /.box-content -->
		</div>
	</div>
</div>

@section Scripts {
	<script>
		var loadFile = function (event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};
	</script>
	<script>
		$("#url").val(window.location.href);
	</script>
}
@* <div class="row small-spacing">
	<div class="col-xs-12">
		<div class="box-content">
			<h4 class="box-title">Default</h4>
			<!-- /.box-title -->
			<div class="dropdown js__drop_down">
				<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
				<ul class="sub-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else there</a></li>
					<li class="split"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
				<!-- /.sub-menu -->
			</div>
			<!-- /.dropdown js__dropdown -->
			<div id="mceu_15" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application" style="visibility: hidden; border-width: 1px;">
				<div id="mceu_15-body" class="mce-container-body mce-stack-layout">
					<div id="mceu_16" class="mce-container mce-menubar mce-toolbar mce-stack-layout-item mce-first" role="menubar" style="border-width: 0px 0px 1px;">
						<div id="mceu_16-body" class="mce-container-body mce-flow-layout"><div id="mceu_17" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-first mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_17" role="menuitem" aria-haspopup="true"><button id="mceu_17-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">File</span> <i class="mce-caret"></i></button></div><div id="mceu_18" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_18" role="menuitem" aria-haspopup="true"><button id="mceu_18-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Edit</span> <i class="mce-caret"></i></button></div><div id="mceu_19" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_19" role="menuitem" aria-haspopup="true"><button id="mceu_19-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Insert</span> <i class="mce-caret"></i></button></div><div id="mceu_20" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_20" role="menuitem" aria-haspopup="true"><button id="mceu_20-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">View</span> <i class="mce-caret"></i></button></div><div id="mceu_21" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_21" role="menuitem" aria-haspopup="true"><button id="mceu_21-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Format</span> <i class="mce-caret"></i></button></div><div id="mceu_22" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_22" role="menuitem" aria-haspopup="true"><button id="mceu_22-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Table</span> <i class="mce-caret"></i></button></div><div id="mceu_23" class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-last mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_23" role="menuitem" aria-haspopup="true"><button id="mceu_23-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Tools</span> <i class="mce-caret"></i></button></div></div></div><div id="mceu_24" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item" hidefocus="1" tabindex="-1" role="group"><div id="mceu_24-body" class="mce-container-body mce-stack-layout"><div id="mceu_25" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last" role="toolbar"><div id="mceu_25-body" class="mce-container-body mce-flow-layout"><div id="mceu_26" class="mce-container mce-flow-layout-item mce-first mce-btn-group" role="group"><div id="mceu_26-body"><div id="mceu_0" class="mce-widget mce-btn mce-first mce-disabled" tabindex="-1" aria-labelledby="mceu_0" role="button" aria-label="Undo" aria-disabled="true"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-undo"></i></button></div><div id="mceu_1" class="mce-widget mce-btn mce-last mce-disabled" tabindex="-1" aria-labelledby="mceu_1" role="button" aria-label="Redo" aria-disabled="true"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-redo"></i></button></div></div></div><div id="mceu_27" class="mce-container mce-flow-layout-item mce-btn-group" role="group"><div id="mceu_27-body"><div id="mceu_2" class="mce-widget mce-btn mce-menubtn mce-first mce-last mce-btn-has-text" tabindex="-1" aria-labelledby="mceu_2" role="button" aria-haspopup="true"><button id="mceu_2-open" role="presentation" type="button" tabindex="-1"><span class="mce-txt">Formats</span> <i class="mce-caret"></i></button></div></div></div><div id="mceu_28" class="mce-container mce-flow-layout-item mce-btn-group" role="group"><div id="mceu_28-body"><div id="mceu_3" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_3" role="button" aria-label="Bold"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-bold"></i></button></div><div id="mceu_4" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_4" role="button" aria-label="Italic"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-italic"></i></button></div></div></div><div id="mceu_29" class="mce-container mce-flow-layout-item mce-btn-group" role="group"><div id="mceu_29-body"><div id="mceu_5" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_5" role="button" aria-label="Align left"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-alignleft"></i></button></div><div id="mceu_6" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_6" role="button" aria-label="Align center"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-aligncenter"></i></button></div><div id="mceu_7" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_7" role="button" aria-label="Align right"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-alignright"></i></button></div><div id="mceu_8" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_8" role="button" aria-label="Justify"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-alignjustify"></i></button></div></div></div><div id="mceu_30" class="mce-container mce-flow-layout-item mce-btn-group" role="group"><div id="mceu_30-body"><div id="mceu_9" class="mce-widget mce-btn mce-splitbtn mce-menubtn mce-first" role="button" tabindex="-1" aria-label="Bullet list" aria-haspopup="true"><button type="button" hidefocus="1" tabindex="-1"><i class="mce-ico mce-i-bullist"></i></button><button type="button" class="mce-open" hidefocus="1" tabindex="-1"> <i class="mce-caret"></i></button></div><div id="mceu_10" class="mce-widget mce-btn mce-splitbtn mce-menubtn" role="button" tabindex="-1" aria-label="Numbered list" aria-haspopup="true"><button type="button" hidefocus="1" tabindex="-1"><i class="mce-ico mce-i-numlist"></i></button><button type="button" class="mce-open" hidefocus="1" tabindex="-1"> <i class="mce-caret"></i></button></div><div id="mceu_11" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_11" role="button" aria-label="Decrease indent"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-outdent"></i></button></div><div id="mceu_12" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_12" role="button" aria-label="Increase indent"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-indent"></i></button></div></div></div><div id="mceu_31" class="mce-container mce-flow-layout-item mce-last mce-btn-group" role="group"><div id="mceu_31-body"><div id="mceu_13" class="mce-widget mce-btn mce-first" tabindex="-1" aria-labelledby="mceu_13" role="button" aria-label="Insert/edit link"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-link"></i></button></div><div id="mceu_14" class="mce-widget mce-btn mce-last" tabindex="-1" aria-labelledby="mceu_14" role="button" aria-label="Insert/edit image"><button role="presentation" type="button" tabindex="-1"><i class="mce-ico mce-i-image"></i></button></div></div></div></div></div></div></div><div id="mceu_32" class="mce-edit-area mce-container mce-panel mce-stack-layout-item" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;"><iframe id="tinymce_ifr" frameborder="0" allowtransparency="true" title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help" src="javascript:&quot;&quot;" style="width: 100%; height: 500px; display: block;"></iframe></div><div id="mceu_33" class="mce-statusbar mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;"><div id="mceu_33-body" class="mce-container-body mce-flow-layout"><div id="mceu_34" class="mce-path mce-flow-layout-item mce-first"><div role="button" class="mce-path-item mce-last" data-index="0" tabindex="-1" id="mceu_34-0" aria-level="0">p</div></div><div id="mceu_35" class="mce-flow-layout-item mce-last mce-resizehandle"><i class="mce-ico mce-i-resize"></i></div></div></div></div></div><textarea id="tinymce" aria-hidden="true" style="display: none;">						&lt;img src="http://placehold.it/80x80" alt=""&gt;
						&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ad consequatur illum unde! Sapiente accusantium, officiis ab velit sunt, perspiciatis ducimus expedita voluptates corrupti hic eligendi iusto ad error id!&lt;/p&gt;
						&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab sapiente ratione quidem aut rerum asperiores tenetur, minus eveniet porro! Quo, quos harum accusamus sapiente perspiciatis dicta ratione tempore officia.&lt;/p&gt;
						&lt;ul&gt;
							&lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/li&gt;
							&lt;li&gt;Culpa ad consequatur illum unde! Sapiente accusantium.&lt;/li&gt;
							&lt;li&gt;A ab sapiente ratione quidem aut rerum asperiores tenetur&lt;/li&gt;
							&lt;li&gt;Quo, quos harum accusamus sapiente perspiciatis&lt;/li&gt;
							&lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/li&gt;
						&lt;/ul&gt;
					</textarea>
		</div>
		<!-- /.box-content -->
	</div>
	<!-- /.col-xs-12 -->
</div>

@section Scripts {
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="~/Admin/assets/scripts/jquery.min.js"></script>
	<script src="~/Admin/assets/scripts/modernizr.min.js"></script>
	<script src="~/Admin/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/Admin/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/Admin/assets/plugin/nprogress/nprogress.js"></script>
	<script src="~/Admin/assets/plugin/sweet-alert/sweetalert.min.js"></script>
	<script src="~/Admin/assets/plugin/waves/waves.min.js"></script>
	<!-- Full Screen Plugin -->
	<script src="~/Admin/assets/plugin/fullscreen/jquery.fullscreen-min.js"></script>

	<!-- TinyMCE -->
	<!-- Plugin Files DON'T INCLUDES THESES FILES IF YOU USE IN THE HOST -->
	<link rel="stylesheet" href="~/Admin/assets/plugin/tinymce/skins/lightgray/skin.min.css">
	<script src="~/Admin/assets/plugin/tinymce/plugins/advlist/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/anchor/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/autolink/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/autoresize/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/autosave/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/bbcode/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/charmap/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/code/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/codesample/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/colorpicker/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/contextmenu/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/directionality/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/emoticons/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/example/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/example_dependency/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/fullpage/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/fullscreen/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/hr/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/image/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/imagetools/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/importcss/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/insertdatetime/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/layer/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/legacyoutput/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/link/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/lists/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/media/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/nonbreaking/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/noneditable/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/pagebreak/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/paste/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/preview/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/print/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/save/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/searchreplace/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/spellchecker/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/tabfocus/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/table/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/template/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/textcolor/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/textpattern/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/visualblocks/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/visualchars/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/plugins/wordcount/plugin.min.js "></script>
	<script src="~/Admin/assets/plugin/tinymce/themes/modern/theme.min.js"></script>
	<!-- Plugin Files DON'T INCLUDES THESES FILES IF YOU USE IN THE HOST -->

	<script src="~/Admin/assets/scripts/tinymce-rtl.init.min.js"></script>

	<script src="~/Admin/assets/scripts/main.min.js"></script>
} *@
