@model ViewmMODeElMASTER
@{
    ViewData["Title"] = "AddEmailNewsletter";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="box-content">
    <ul class="list-inline">
        <li class="margin-bottom-10"><a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWeb.LBAddEmailNewsletter</button></a></li>
        <li class="margin-bottom-10"><a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a></li>
        <li class="margin-bottom-10"><a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a></li>
        <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
        <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
    </ul>
    <div class="row small-spacing">
        <div class="col-xs-12">
            <div class="box-content card white">
                <h4 class="box-title">@ResourceWeb.LBAddEmailNewsletter</h4>
                <div class="card-content">
                    <form role="form" method="post" asp-controller="EmailNewsletter" asp-action="Save" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" asp-for="@Model.EmailNewsletter.DateEntry" class="form-control" value="@User.Identity.Name">
                            <input type="hidden" asp-for="@Model.EmailNewsletter.IdEmailNewsletter" class="form-control" >
                            <input type="hidden" asp-for="@Model.EmailNewsletter.DateTimeEntry" value="@DateTime.Now">
                            <input type="hidden" asp-for="@Model.returnUrl" id="url">
                            <span style="color:royalblue"> <strong>@TempData["Saved successfully"]</strong></span>
                            <span style="color:red"> <strong>@TempData["ErrorSave"]</strong></span>
                        </div>
                        <div class="card-content">
                            <div class="row small-spacing">
                                <div class="col-12 col-sm-6">
                                    <label asp-for="@Model.EmailNewsletter.MailSender" for="exampleInputEmail1">@ResourceWeb.lbMailSender</label>
                                    <input asp-for="@Model.EmailNewsletter.MailSender" type="email" placeholder="@ResourceWeb.lbMailSender ...." class="form-control" maxlength="300">
                                    <span asp-validation-for="@Model.EmailNewsletter.MailSender" class="text-danger"></span>
                                    <span style="color:red"> <strong>@TempData["EmailNewsletter"]</strong></span>
                                </div>
                            </div>
                            <div class="checkbox margin-bottom-20">
                                <div class="switch success">
                                    <input type="checkbox" asp-for="@Model.EmailNewsletter.IsSubscribed" id="switch-2" checked="checked">
                                    <label for="switch-2">@ResourceWeb.LbActive</label>
                                </div>
                            </div>
                            <div class="checkbox margin-bottom-20">
                                <div class="switch success">
                                    <input type="checkbox" asp-for="@Model.EmailNewsletter.CurrentState" id="switch-10" checked="checked">
                                    <label for="switch-10">@ResourceWeb.lbCurrentState</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWeb.lbSave</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#url").val(window.location.href);
    </script>
}
